- colapse_class = "panel-collapse collapse"
- if params[:colapse_expanse_form_id].to_i == -1
  - colapse_class = "panel-collapse collapse in"

%a.collapsed{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#add_category", class: 'glyphicon glyphicon-plus', title: "#{t 'expense_categories.new_category'}"}
%div{:id => "add_category", 'aria-labelledby' => "headingOne", :class => colapse_class, :role => "tabpanel"}
  .panel-body
    = render partial: 'form'
  

