<div class="alert alert-success" role="alert">
<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end -%>
</div>
<p>
  <strong>Name:</strong>
  <%= @expense_category.name %>
</p>




