%a.collapsed{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", id: 'gif_collapse', :href => "#add_category", class: 'btn btn-success btn-sm', title: "#{t 'income_categories.new_category'}"}  #{t 'income_categories.new_category'}
%div{:id => "add_category", 'aria-labelledby' => "headingOne", :class => "panel-collapse collapse #{params['colapse_income_category']}", :role => "tabpanel"}
  .panel-body
    = render partial: 'form'
/ /.container
  

