<%= form_for(@income_category) do |c| %>
  <% if flash[:error] -%>
  <div class="alert alert-danger" role="alert"><%= flash[:error] %></div>
<% end -%>
  <div class="field">
    <%= c.text_field :name %>
  </div>
  <div class="actions">
    <%= c.submit %>
  </div>
<% end %>
