<%= form_for(@income_category) do |c| %>
  <div class="field">
    <%= c.text_field :name %>
  </div>
  <div class="actions">
    <%= c.submit  "#{t 'income_categories.new.save'}"%>
  </div>
<% end %>
