<h1>Listing Categories</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><div id = "food_and_drinks" ><%= category.name %> <%= link_to 'Add transactions', new_transaction_path, :remote => true %></div></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New category', new_category_path %>
