<h1>Graphics</h1>
<%=@amount %>
<p> <%= image_tag(Gchart.pie_3d(
      :title => 'Expense', 
      :size => '600x400',
      :data => @amount, 
      :labels => @catego,
      :bg => {:color => '76A4FB', :type => 'gradient'}, 
      :bar_colors => 'ff0000,00ff00' )) %>
</p>
